html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  background: url("//img/new_background.jpg");
  font-family: sans-serif;
  line-height: 1.6rem;
  word-spacing: 0.15rem;
  margin: 25px;
  padding: 25px; }
  body .background {
    width: 100%; }
  body img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  body .logo {
    width: 70px;
    height: auto;
    margin-left: 450px; }
  body h1, body p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px; }
  body h6 {
    text-align: left;
    margin-left: 619px; }
  body .ingredients, body .instructions {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 450px; }
  body footer {
    margin-left: 450px;
    color: red; }
